// Colors
$lightest-gray: #f3f3f3;
$light-gray: #dbdbdb;
$medium-gray: #696969;
$dark-gray: #212121;

// Breakpoint
$breakpoint-small: 0;
$breakpoint-medium: 640px;
$breakpoint-large: 1200px;

// MIXINS 
// --Layout--
@mixin large {
  @media screen and (min-width: #{$breakpoint-large}) {
    @content;
  }
}
@mixin medium {
  @media screen and (min-width: #{$breakpoint-medium}) {
    @content;
  }
}
@mixin medium-only {
  @media screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1px}) {
    @content;
  }
}
@mixin medium-down {
  @media screen and (max-width: #{$breakpoint-large}) {
    @content;
  }
}
@mixin small-only {
  @media screen and (max-width: #{$breakpoint-medium - 1px}) {
    @content;
  }
}